    transition: 0.2s ease all;
        z-index: 999 !important;
    } 
    #footer{
        z-index: 100 !important;
    }

</style></div><div data-rid="23ab8885-70a6-4947-9886-ca29350efd2c" data-replo-repeated-index=".0.0" data-alchemy-url-hashmark="footer" tabindex="-1" id="footer" data-alchemy-url-hashmark-ignore="true" class="r-iei9ng"><div data-rid="25a0dff7-3773-45c0-8fb4-829ba3a9b1f8" data-replo-repeated-index=".0.0.0" class="r-nw7wni alchemy-rte"><span style="width:100%"><p>©2025 Zwarte Roes Specialty Coffee <a href="https://zwarteroes.nl/policies/terms-of-service"><u>Algemene Voorwaarden | </u></a><a href="https://zwarteroes.nl/pages/privacy-verklaring"><u>Privacy Verklaring</u></a></p></span></div></div></div></div><style>@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900;950)</style></div>
{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
  <script type="application/json" id="replo-deps-products">
    [{"id":"8811141136728","handle": "blend-no1-starter-pack","data":{{ all_products['blend-no1-starter-pack'] | json }}},{"id":"1017551978548","handle": "proefpakket-verse-koffiebonen","data":{{ all_products['proefpakket-verse-koffiebonen'] | json }}},{"id":"4439682383953","handle": "brasil-mogiana-gold","data":{{ all_products['brasil-mogiana-gold'] | json }}},{"id":"747246321716","handle": "colombia-tolima-planadas","data":{{ all_products['colombia-tolima-planadas'] | json }}},{"id":"9119063048536","handle": "blend-no1-starter-pack-50-kopje-gratis","data":{{ all_products['blend-no1-starter-pack-50-kopje-gratis'] | json }}},{"id":"6796314312883","handle": "zwarte-roes-tote-bag","data":{{ all_products['zwarte-roes-tote-bag'] | json }}}]
  </script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}