<section id="shopify-section-{{ section.id }}" class="shopify-section shopify-banner-slider mobile-banner">
    <div class="banner-slider">
        <div class="container-fluid">
            <div class="slider-container">
                <div class="slider-item slider-layout" style="--background:#f0f0f0">
                    <div class="image-block">
                        {%- if section.settings.image != blank -%}
                            {%- comment -%}
                            {%- assign img_url = section.settings.mob_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            <img src="{{ section.settings.mob_image | img_url: '300x' }}"
                                 decoding="async" loading="eager" width="276px" height="50px"
                                 data-aspectratio="{{ section.settings.mob_image.aspect_ratio }}"
                                 data-sizes="auto"
                                 alt="{{ section.settings.mob_image.alt | escape }}"
                                 class="ls-is-cached">
                            {%- endcomment -%}
                            {%- comment -%}
                              Replaced lazysizes-based image with native Shopify image_tag
                              for improved performance, preloading, and native responsiveness. Preload homepage banner for small screen sizes
                            {%- endcomment -%}
                            {%- assign mob_alt = section.settings.mob_image.alt | escape -%}
                            {{ section.settings.mob_image | image_url: width: section.settings.mob_image.width | image_tag:
                                widths: '1, 10, 360, 480, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 2160',
                                loading: 'eager',
                                fetchpriority: 'high',
                                decoding: 'async',
                                preload: true,
                                alt: mob_alt,
                                class: 'preloaded-responsive-image',
                                sizes: '(max-width:768px) 100vw, 1px'
                            }}
                        {%- else -%}
                            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                    </div>
                    <div class="feature-row__item b1 feature-row__text feature-row__text--left" data-aos>
        {%- if section.settings.title != blank -%}
          <h2 class="h2 appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte small--hide appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
                         {%- if section.settings.text != blank -%}
          <div class="rte medium-up--hide appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
        {%- if section.settings.button_label != blank -%}
          <div style="width:100%;" class="btn-wrapper appear-delay{% cycle '','-1','-2','-3','-4' %}">
          <img class="small--hide" width="60" height="70" src="{{ 'arrow-vector.png' | asset_url }}">
            <a href="{{ section.settings.button_link }}" class="btn btn2 btn-yellow">
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}
     
      </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="banner desktop-banner">
  <div class="banner__image-wrapper">
    {%- if section.settings.bg_image != blank -%}
      {%- assign img_url = section.settings.bg_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

      <img class="hero__image hero__image--{{ section.id }} lazyload{% if has_mobile_image %} small--hide{% endif %}"
        src="{{ section.settings.bg_image | img_url: '300x' }}"
        data-src="{{ img_url }}"
        data-aspectratio="{{ section.settings.bg_image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ section.settings.bg_image.alt | escape }}"
        style="object-position: {{ section.settings.focal_point }}">
      {%- if has_mobile_image -%}
        {%- assign img_url_mobile = section.settings.bg_image_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <img class="hero__image hero__image--{{ section.id }} lazyload medium-up--hide"
          src="{{ section.settings.bg_image_mobile | img_url: '300x' }}"
          data-src="{{ img_url_mobile }}"
          data-aspectratio="{{ section.settings.bg_image_mobile.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ section.settings.bg_image_mobile.alt | escape }}"
          style="object-position: {{ section.settings.focal_point }}">
      {%- endif -%}
      <noscript>
        <img class="hero__image hero__image--{{ section.id }}"
          src="{{ section.settings.bg_image | img_url: '1400x' }}"
          alt="{{ section.settings.bg_image.alt | escape }}">
      </noscript>
    {%- else -%}
      {%- if template == 'password' -%}
        {%- assign password_image = 'password-page-background.jpg' | asset_url -%}
        <img class="hero__image lazyload" src="{{ password_image }}">
      {%- else -%}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    {%- endif -%}
  </div>
  {% if section.settings.mob_img != blank %}
    <div class="mob_banner_area">
      <img src="{{ section.settings.mob_img | img_url: '1000x' }}">
    </div>
  {% endif %}

  <div class="page-width banner__text-wrapper">
    <div class="feature-row">
      
      <div class="feature-row__item b2 feature-row__text feature-row__text--left" data-aos>
        {%- if section.settings.title != blank -%}
          <h1 class="h1 appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title | escape }}</h1>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte small--hide appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
        {%- if section.settings.button_label != blank -%}
          <div class="btn-wrapper appear-delay{% cycle '','-1','-2','-3','-4' %}">
          <img class="small--hide" width="60" height="70" src="{{ 'arrow-vector.png' | asset_url }}">
            <a href="{{ section.settings.button_link }}" class="btn btn-yellow">
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte medium-up--hide appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
        {%- endif -%}
      </div>
      <div class="feature-row__item b3 feature-row__images" data-aos>
        {%- if section.settings.image != blank -%}
          <div>
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
{% comment -%}
              {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="feature-row__image b lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 750, 900, 1080]"
                data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ section.settings.image.alt }}">
{% endcomment -%}
              {%- comment -%} Get the image object {% endcomment -%}
              {%- assign image = section.settings.image -%}
              {%- assign image_alt = image.alt | default: section.settings.image.alt | escape -%}
              
              {% comment %} Define widths for srcset generation {% endcomment %}
              {%- assign image_widths = '1, 10, 180, 360, 450, 540, 640, 750, 900, 1080' -%} {% comment %} Adjusted widths, no need for tiny/huge ones if lazy/capped {% endcomment %}
              
              {% comment %} Define sizes attribute correctly {% endcomment %}
              {%- assign image_sizes = '(max-width: 767px) 1px, 450px' -%}
              
              {% if image != blank %}
                {{ image | image_url: width: image.width | image_tag:
                    widths: image_widths,
                    loading: 'lazy',
                    decoding: 'async',
                    alt: image_alt,
                    class: 'feature-row__image feature-row__image--native-tag',
                    sizes: image_sizes
                }}
              {% endif %}
            </div>
          </div>
        {%- endif -%}
        {%- if section.settings.image == blank -%}
          <div>
          </div>
        {%- endif -%}
      </div>

    </div>
  </div>
</div>


<style>
  .desktop-banner{
    display:block;
      content-visibility:visible;
  }
  .mobile-banner{
    display:none;
      content-visibility:hidden;
  }
</style>
{% schema %}
  {
    "name": "Banner",
    "class": "index-section--hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mob_img",
        "label": "Image"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Two line\ntitle slide."
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mob_image",
        "label": "Mobile Image"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Text protection",
        "info": "Darkens your image to ensure your text is readable",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "%"
      },
      {
        "type": "select",
        "id": "focal_point",
        "label": "Image focal point",
        "info": "Used to keep the subject of your photo in view.",
        "default": "center center",
        "options": [
          {
            "value": "20% 0",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "80% 0",
            "label": "Top right"
          },
          {
            "value": "20% 50%",
            "label": "Left"
          },
          {
            "value": "center center",
            "label": "Center"
          },
          {
            "value": "80% 50%",
            "label": "Right"
          },
          {
            "value": "20% 100%",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "80% 100%",
            "label": "Bottom right"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Banner",
      "settings": {
        "title": "Endless\npossibilities.",
        "text": "Bring your brand to life"
      }
    }]
  }
{% endschema %}
