{{ 'lp-comparison.css' | asset_url | stylesheet_tag }}


<section class="lp-comparison">
  <div class="lp-wrapper lp-comparison--wrapper">
    {% liquid
   
    assign comparisonTitle = section.settings.comparison_title
    assign comparisonText = section.settings.comparison_text
  

  %}
    {% if comparisonText != '' %}
        <h2 class="lp-comparison__title lp-title lp-text--center lp-text--black">
            {{comparisonTitle}}
        </h2>
    {% endif %}
    {% if comparisonText != '' %}
        <p class="lp-comparison__text lp-text--center lp-text--black lp-center lp-text">
            {{comparisonText}}
        </p>
    {% endif %}
        
    {% if section.blocks.size > 0 %}
        <div class="lp-comparison__container">

            <svg class='lp-comparison__vs' width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.816406" y="0.817383" width="42.3676" height="42.3676" rx="21.1838" fill="#D0E9F0"/>
            <path d="M13.4502 22.7588C13.3949 22.4489 13.3783 22.1279 13.4004 21.7959C13.4225 21.4639 13.4336 21.1429 13.4336 20.833C13.4336 20.5342 13.4115 20.2188 13.3672 19.8867C13.334 19.5436 13.3008 19.2171 13.2676 18.9072C13.2454 18.5973 13.2344 18.3151 13.2344 18.0605C13.2454 17.7949 13.2842 17.5902 13.3506 17.4463C13.4391 17.2803 13.5498 17.153 13.6826 17.0645C13.8154 16.9648 13.9427 16.8542 14.0645 16.7324C14.2083 16.7546 14.3356 16.7988 14.4463 16.8652C14.568 16.9206 14.6676 16.998 14.7451 17.0977C14.8337 17.1862 14.8945 17.2803 14.9277 17.3799C14.972 17.4795 14.9831 17.5791 14.9609 17.6787C15.2376 17.8447 15.459 18.0716 15.625 18.3594C15.8021 18.6361 15.9349 18.946 16.0234 19.2891C16.123 19.6211 16.1895 19.9753 16.2227 20.3516C16.2669 20.7279 16.3001 21.0986 16.3223 21.4639C16.3555 21.8291 16.3831 22.1777 16.4053 22.5098C16.4385 22.8307 16.4938 23.113 16.5713 23.3564C17.0583 22.6481 17.4678 22.0228 17.7998 21.4805C18.1429 20.9271 18.486 20.4014 18.8291 19.9033C19.1722 19.3942 19.554 18.8796 19.9746 18.3594C20.4062 17.8392 20.9541 17.2526 21.6182 16.5996C21.762 16.6217 21.8727 16.6494 21.9502 16.6826C22.0277 16.7158 22.1051 16.749 22.1826 16.7822C22.2601 16.8154 22.3431 16.8431 22.4316 16.8652C22.5202 16.8763 22.6419 16.8708 22.7969 16.8486C22.8522 16.9814 22.891 17.0811 22.9131 17.1475C22.9463 17.2028 22.974 17.2581 22.9961 17.3135C23.0182 17.3688 23.0459 17.4408 23.0791 17.5293C23.1123 17.6178 23.1621 17.7507 23.2285 17.9277C23.2617 17.972 23.2728 18.0329 23.2617 18.1104C23.2617 18.1768 23.2562 18.2376 23.2451 18.293C23.234 18.3483 23.2285 18.3926 23.2285 18.4258C23.2396 18.459 23.2783 18.459 23.3447 18.4258C23.3005 18.6139 23.2285 18.7855 23.1289 18.9404C23.0293 19.0843 22.985 19.2614 22.9961 19.4717C22.6973 19.8701 22.3652 20.2796 22 20.7002C21.6348 21.1208 21.2695 21.5635 20.9043 22.0283C20.5391 22.4821 20.1849 22.958 19.8418 23.4561C19.5098 23.943 19.2275 24.4632 18.9951 25.0166C18.9287 25.0166 18.8789 25.0332 18.8457 25.0664C18.8125 25.0996 18.7793 25.1383 18.7461 25.1826C18.724 25.2269 18.6963 25.2712 18.6631 25.3154C18.641 25.3597 18.5967 25.3818 18.5303 25.3818C18.5081 25.736 18.3753 26.0736 18.1318 26.3945C17.8994 26.7044 17.6615 26.9701 17.418 27.1914C17.4401 27.2799 17.4512 27.3519 17.4512 27.4072C17.4512 27.4626 17.4456 27.5179 17.4346 27.5732C17.4235 27.6286 17.4124 27.6895 17.4014 27.7559C17.4014 27.8112 17.4069 27.8831 17.418 27.9717C17.3184 28.2373 17.1855 28.4587 17.0195 28.6357C16.8646 28.8128 16.693 28.9456 16.5049 29.0342C16.3167 29.1227 16.123 29.1559 15.9238 29.1338C15.7246 29.1227 15.5365 29.0563 15.3594 28.9346C15.2819 28.8903 15.2155 28.8294 15.1602 28.752C15.1048 28.6745 15.0439 28.6025 14.9775 28.5361C14.9222 28.4587 14.8613 28.3923 14.7949 28.3369C14.7396 28.2705 14.6676 28.2262 14.5791 28.2041C14.6012 28.0934 14.6012 27.9772 14.5791 27.8555C14.568 27.7337 14.5459 27.623 14.5127 27.5234C14.4795 27.4238 14.4408 27.3408 14.3965 27.2744C14.3522 27.208 14.3079 27.1748 14.2637 27.1748C14.2194 26.8981 14.1585 26.5993 14.0811 26.2783C14.0146 25.9463 13.9427 25.6198 13.8652 25.2988C13.7988 24.9779 13.7435 24.6624 13.6992 24.3525C13.6549 24.0426 13.6383 23.7549 13.6494 23.4893C13.6605 23.3564 13.6328 23.2402 13.5664 23.1406C13.5111 23.0299 13.4723 22.9027 13.4502 22.7588ZM22.2822 21.5137C22.3154 21.3477 22.3376 21.2148 22.3486 21.1152C22.3597 21.0046 22.321 20.8883 22.2324 20.7666C22.2767 20.5895 22.3099 20.4512 22.332 20.3516C22.3652 20.252 22.3708 20.1136 22.3486 19.9365C22.4482 19.6488 22.5977 19.4053 22.7969 19.2061C23.0072 19.0068 23.234 18.8408 23.4775 18.708C23.721 18.5641 23.9756 18.4479 24.2412 18.3594C24.5068 18.2598 24.7559 18.1768 24.9883 18.1104C24.9883 18.0661 24.9661 18.0439 24.9219 18.0439C24.8776 18.0439 24.8665 18.0163 24.8887 17.9609C25.4863 17.8503 26.084 17.6898 26.6816 17.4795C27.2904 17.2692 27.9102 17.0811 28.541 16.915C29.1719 16.749 29.8193 16.6494 30.4834 16.6162C31.1475 16.5719 31.8447 16.6549 32.5752 16.8652C32.6195 16.998 32.6803 17.1253 32.7578 17.2471C32.8353 17.3688 32.9128 17.4906 32.9902 17.6123C33.0788 17.723 33.1562 17.8337 33.2227 17.9443C33.2891 18.055 33.3278 18.1712 33.3389 18.293C33.4717 18.4147 33.5768 18.5475 33.6543 18.6914C33.7428 18.8242 33.7594 19.0068 33.7041 19.2393C33.5824 19.3278 33.4551 19.4163 33.3223 19.5049C33.1895 19.5934 33.0511 19.6764 32.9072 19.7539C32.4092 19.6322 31.9111 19.5879 31.4131 19.6211C30.915 19.6543 30.4668 19.693 30.0684 19.7373C29.9466 19.6045 29.8027 19.5436 29.6367 19.5547C29.4707 19.5547 29.2936 19.5824 29.1055 19.6377C28.9284 19.682 28.7513 19.7318 28.5742 19.7871C28.3971 19.8314 28.2311 19.8424 28.0762 19.8203C27.9544 19.931 27.7939 20.0085 27.5947 20.0527C27.3955 20.0859 27.1852 20.1136 26.9639 20.1357C26.9528 20.1911 26.9639 20.2298 26.9971 20.252C27.0303 20.2741 27.0358 20.3184 27.0137 20.3848C27.0911 20.4844 27.1963 20.5563 27.3291 20.6006C27.4619 20.6338 27.5947 20.667 27.7275 20.7002C27.8714 20.7334 27.9987 20.7832 28.1094 20.8496C28.2201 20.9049 28.292 20.999 28.3252 21.1318C28.5244 21.1429 28.696 21.1982 28.8398 21.2979C28.9837 21.3864 29.1055 21.4971 29.2051 21.6299C29.3047 21.7627 29.3766 21.9066 29.4209 22.0615C29.4652 22.2054 29.4818 22.3382 29.4707 22.46C29.515 22.5706 29.5592 22.6149 29.6035 22.5928C29.6589 22.5706 29.7197 22.5983 29.7861 22.6758C29.8304 22.8418 29.93 23.0189 30.085 23.207C30.251 23.3841 30.3783 23.5778 30.4668 23.7881C30.4889 24.1201 30.5055 24.4189 30.5166 24.6846C30.5387 24.9502 30.4945 25.2103 30.3838 25.4648C30.1956 25.9518 29.9245 26.389 29.5703 26.7764C29.2161 27.1637 28.8122 27.5068 28.3584 27.8057C27.9157 28.0934 27.4453 28.348 26.9473 28.5693C26.4492 28.7796 25.9567 28.9567 25.4697 29.1006C25.4255 29.0895 25.3701 29.0895 25.3037 29.1006C25.2484 29.1117 25.2373 29.0785 25.2705 29.001C25.1709 29.0895 25.0547 29.1449 24.9219 29.167C24.8001 29.1891 24.6618 29.1947 24.5068 29.1836C24.363 29.1836 24.2135 29.1781 24.0586 29.167C23.9147 29.1559 23.7708 29.1615 23.627 29.1836C23.5384 29.0951 23.4554 29.0065 23.3779 28.918C23.3115 28.8294 23.2562 28.7243 23.2119 28.6025C23.1566 28.5915 23.1289 28.5583 23.1289 28.5029C23.14 28.4365 23.1178 28.4033 23.0625 28.4033C23.0625 28.359 23.068 28.3258 23.0791 28.3037C23.0902 28.2816 23.1012 28.2594 23.1123 28.2373C23.1566 28.2041 23.1732 28.182 23.1621 28.1709C23.1621 28.1488 23.1455 28.1322 23.1123 28.1211C23.0902 28.099 23.0625 28.0768 23.0293 28.0547C23.0072 28.0326 23.0016 28.0049 23.0127 27.9717C23.068 27.8721 23.0846 27.7559 23.0625 27.623C23.0514 27.4792 23.0404 27.3353 23.0293 27.1914C23.0182 27.0475 23.0293 26.9147 23.0625 26.793C23.0957 26.6602 23.1898 26.5495 23.3447 26.4609C23.7985 26.5052 24.2246 26.4831 24.623 26.3945C25.0326 26.306 25.4144 26.1842 25.7686 26.0293C26.1338 25.8743 26.4769 25.7083 26.7979 25.5312C27.1299 25.3431 27.4508 25.1715 27.7607 25.0166C27.7939 24.9059 27.8438 24.8118 27.9102 24.7344C27.9876 24.6569 28.0651 24.585 28.1426 24.5186C28.2201 24.4411 28.292 24.3636 28.3584 24.2861C28.4248 24.1976 28.4746 24.0924 28.5078 23.9707C28.5189 23.9264 28.5189 23.8932 28.5078 23.8711C28.4967 23.849 28.4801 23.8324 28.458 23.8213C28.4359 23.7992 28.4137 23.777 28.3916 23.7549C28.3695 23.7327 28.3584 23.6995 28.3584 23.6553C28.3252 23.6442 28.292 23.6331 28.2588 23.6221C28.2367 23.611 28.2145 23.6055 28.1924 23.6055C27.9046 23.4616 27.6003 23.3398 27.2793 23.2402C26.9583 23.1406 26.6872 23.0299 26.4658 22.9082C26.333 22.9967 26.2002 23.0189 26.0674 22.9746C25.9346 22.9303 25.7741 22.8861 25.5859 22.8418C25.1211 22.8197 24.6784 22.7754 24.2578 22.709C23.8483 22.6426 23.4499 22.5264 23.0625 22.3604C23.0404 22.2939 23.0127 22.2386 22.9795 22.1943C22.9463 22.139 22.8688 22.1224 22.7471 22.1445C22.6696 22.0339 22.5866 21.9342 22.498 21.8457C22.4206 21.7461 22.3486 21.6354 22.2822 21.5137Z" fill="#29201D"/>
            </svg>

            
          {% for block in section.blocks %}
          
              {% liquid
                  assign lpcomparisonImg = block.settings.lp_comparison_img
                  assign lpcomparisonTitle = block.settings.lp_comparison_title
                  assign lpcomparisonSubtitle = block.settings.lp_comparison_subtitle
                  assign lpcomparisonPrimaryCheckbox = block.settings.lp_comparison_primary_check

                  assign lpcomparisonPropOne = block.settings.lp_comparison_prop_one
                  assign lpcomparisonPropTwo = block.settings.lp_comparison_prop_two
                  assign lpcomparisonPropThree = block.settings.lp_comparison_prop_three
 

                  assign lpcomparisonPropOneCheckbox = block.settings.lp_comparison_prop_one_check
                  assign lpcomparisonPropTwoCheckbox = block.settings.lp_comparison_prop_two_check
                  assign lpcomparisonPropThreeCheckbox = block.settings.lp_comparison_prop_three_check


              %}
                <div class="lp-comparison__row {% if lpcomparisonPrimaryCheckbox == true %} lp-comparison__row-primary {% endif %}" >
                    <h4 class="lp-comparison__prop-title lp-text--center lp-text--black lp-text">  {{ lpcomparisonTitle }} </h4>

                  {%- if lpcomparisonImg -%}
                    <div class="lp-comparison__media">{{ lpcomparisonImg | image_url: width: auto | image_tag: class: 'lp-image' }}</div>
                  {%- endif -%}
      
                    <h5 class="lp-comparison__prop-subtitle lp-text--black lp-text">  {{ lpcomparisonSubtitle }} </h5>
                    <div class="lp-comparison__props">
                      <div class="lp-comparison__prop">
                        {%- if lpcomparisonPropOneCheckbox == true -%}
                           
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_8201_439)">
                            <path d="M12 0C5.38293 0 0 5.38293 0 12C0 18.6171 5.38293 24 12 24C18.6171 24 24 18.6171 24 12C24 5.38293 18.6171 0 12 0Z" fill="#DF6835"/>
                            <path d="M18.0823 9.45728L11.5822 15.9572C11.3872 16.1522 11.1312 16.2503 10.8752 16.2503C10.6193 16.2503 10.3633 16.1522 10.1683 15.9572L6.91833 12.7072C6.52722 12.3163 6.52722 11.6842 6.91833 11.2933C7.30927 10.9022 7.94116 10.9022 8.33228 11.2933L10.8752 13.8362L16.6683 8.04333C17.0593 7.65222 17.6912 7.65222 18.0823 8.04333C18.4732 8.43427 18.4732 9.06616 18.0823 9.45728Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_8201_439">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>


                            {%- else -%}
                            
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_8201_417)">
                            <path d="M16.2848 8.96572L13.2077 12L16.2848 15.0343C16.3705 15.1145 16.4387 15.2114 16.4854 15.319C16.5321 15.4266 16.5562 15.5427 16.5562 15.66C16.5562 15.7773 16.5321 15.8934 16.4854 16.001C16.4387 16.1086 16.3705 16.2055 16.2848 16.2857C16.2047 16.3652 16.1098 16.428 16.0053 16.4707C15.9009 16.5133 15.7891 16.5349 15.6763 16.5343C15.4514 16.5333 15.2359 16.4441 15.0763 16.2857L11.9991 13.2086L8.96484 16.2857C8.80519 16.4441 8.58971 16.5333 8.36485 16.5343C8.25204 16.5349 8.14021 16.5133 8.03578 16.4707C7.93135 16.428 7.83637 16.3652 7.75627 16.2857C7.59663 16.1251 7.50702 15.9079 7.50702 15.6814C7.50702 15.455 7.59663 15.2377 7.75627 15.0771L10.7906 12L7.75627 8.96572C7.61585 8.80174 7.54247 8.59082 7.55081 8.3751C7.55914 8.15938 7.64857 7.95474 7.80122 7.80209C7.95387 7.64944 8.15851 7.56001 8.37423 7.55168C8.58995 7.54335 8.80087 7.61672 8.96484 7.75714L11.9991 10.7914L15.0334 7.75714C15.1128 7.67497 15.2075 7.60924 15.3123 7.56369C15.4171 7.51815 15.5298 7.49368 15.644 7.49169C15.7582 7.4897 15.8717 7.51023 15.978 7.5521C16.0842 7.59397 16.1812 7.65636 16.2634 7.73572C16.3456 7.81507 16.4113 7.90984 16.4569 8.0146C16.5024 8.11936 16.5269 8.23206 16.5289 8.34628C16.5309 8.46049 16.5103 8.57398 16.4685 8.68027C16.4266 8.78655 16.3642 8.88355 16.2848 8.96572ZM20.4848 20.4857C18.8066 22.1638 16.6684 23.3066 14.3406 23.7695C12.0129 24.2324 9.60015 23.9947 7.40751 23.0864C5.21487 22.1781 3.3408 20.6401 2.02228 18.6667C0.703756 16.6933 0 14.3733 0 12C0 9.62668 0.703756 7.30665 2.02228 5.33329C3.3408 3.35992 5.21487 1.82186 7.40751 0.913568C9.60015 0.00528063 12.0129 -0.232431 14.3406 0.230492C16.6684 0.693416 18.8066 1.83618 20.4848 3.51429C21.5993 4.62861 22.4833 5.95153 23.0864 7.40752C23.6896 8.8635 24 10.424 24 12C24 13.576 23.6896 15.1365 23.0864 16.5925C22.4833 18.0485 21.5993 19.3714 20.4848 20.4857ZM19.2763 4.72286C17.8364 3.28795 16.0036 2.31188 14.0093 1.91789C12.0151 1.52391 9.94878 1.72969 8.07139 2.50923C6.19401 3.28878 4.58971 4.60715 3.46108 6.29785C2.33245 7.98855 1.7301 9.97577 1.7301 12.0086C1.7301 14.0414 2.33245 16.0286 3.46108 17.7193C4.58971 19.41 6.19401 20.7284 8.07139 21.5079C9.94878 22.2875 12.0151 22.4932 14.0093 22.0992C16.0036 21.7053 17.8364 20.7292 19.2763 19.2943C20.2352 18.3387 20.996 17.2032 21.5151 15.953C22.0343 14.7027 22.3015 13.3623 22.3015 12.0086C22.3015 10.6548 22.0343 9.3144 21.5151 8.06415C20.996 6.81391 20.2352 5.67844 19.2763 4.72286Z" fill="#2B3F40"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_8201_417">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>
                            
                                  

                        {%- endif -%}

                        
                        <p class="lp-comparison__prop-text lp-text">
                            {{ lpcomparisonPropOne }} 
                        </p>
                      </div>
                      <div class="lp-comparison__prop">
                        {%- if lpcomparisonPropTwoCheckbox == true -%}
                           
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_8201_439)">
                            <path d="M12 0C5.38293 0 0 5.38293 0 12C0 18.6171 5.38293 24 12 24C18.6171 24 24 18.6171 24 12C24 5.38293 18.6171 0 12 0Z" fill="#DF6835"/>
                            <path d="M18.0823 9.45728L11.5822 15.9572C11.3872 16.1522 11.1312 16.2503 10.8752 16.2503C10.6193 16.2503 10.3633 16.1522 10.1683 15.9572L6.91833 12.7072C6.52722 12.3163 6.52722 11.6842 6.91833 11.2933C7.30927 10.9022 7.94116 10.9022 8.33228 11.2933L10.8752 13.8362L16.6683 8.04333C17.0593 7.65222 17.6912 7.65222 18.0823 8.04333C18.4732 8.43427 18.4732 9.06616 18.0823 9.45728Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_8201_439">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>

                            {%- else -%}
                            
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_8201_417)">
                            <path d="M16.2848 8.96572L13.2077 12L16.2848 15.0343C16.3705 15.1145 16.4387 15.2114 16.4854 15.319C16.5321 15.4266 16.5562 15.5427 16.5562 15.66C16.5562 15.7773 16.5321 15.8934 16.4854 16.001C16.4387 16.1086 16.3705 16.2055 16.2848 16.2857C16.2047 16.3652 16.1098 16.428 16.0053 16.4707C15.9009 16.5133 15.7891 16.5349 15.6763 16.5343C15.4514 16.5333 15.2359 16.4441 15.0763 16.2857L11.9991 13.2086L8.96484 16.2857C8.80519 16.4441 8.58971 16.5333 8.36485 16.5343C8.25204 16.5349 8.14021 16.5133 8.03578 16.4707C7.93135 16.428 7.83637 16.3652 7.75627 16.2857C7.59663 16.1251 7.50702 15.9079 7.50702 15.6814C7.50702 15.455 7.59663 15.2377 7.75627 15.0771L10.7906 12L7.75627 8.96572C7.61585 8.80174 7.54247 8.59082 7.55081 8.3751C7.55914 8.15938 7.64857 7.95474 7.80122 7.80209C7.95387 7.64944 8.15851 7.56001 8.37423 7.55168C8.58995 7.54335 8.80087 7.61672 8.96484 7.75714L11.9991 10.7914L15.0334 7.75714C15.1128 7.67497 15.2075 7.60924 15.3123 7.56369C15.4171 7.51815 15.5298 7.49368 15.644 7.49169C15.7582 7.4897 15.8717 7.51023 15.978 7.5521C16.0842 7.59397 16.1812 7.65636 16.2634 7.73572C16.3456 7.81507 16.4113 7.90984 16.4569 8.0146C16.5024 8.11936 16.5269 8.23206 16.5289 8.34628C16.5309 8.46049 16.5103 8.57398 16.4685 8.68027C16.4266 8.78655 16.3642 8.88355 16.2848 8.96572ZM20.4848 20.4857C18.8066 22.1638 16.6684 23.3066 14.3406 23.7695C12.0129 24.2324 9.60015 23.9947 7.40751 23.0864C5.21487 22.1781 3.3408 20.6401 2.02228 18.6667C0.703756 16.6933 0 14.3733 0 12C0 9.62668 0.703756 7.30665 2.02228 5.33329C3.3408 3.35992 5.21487 1.82186 7.40751 0.913568C9.60015 0.00528063 12.0129 -0.232431 14.3406 0.230492C16.6684 0.693416 18.8066 1.83618 20.4848 3.51429C21.5993 4.62861 22.4833 5.95153 23.0864 7.40752C23.6896 8.8635 24 10.424 24 12C24 13.576 23.6896 15.1365 23.0864 16.5925C22.4833 18.0485 21.5993 19.3714 20.4848 20.4857ZM19.2763 4.72286C17.8364 3.28795 16.0036 2.31188 14.0093 1.91789C12.0151 1.52391 9.94878 1.72969 8.07139 2.50923C6.19401 3.28878 4.58971 4.60715 3.46108 6.29785C2.33245 7.98855 1.7301 9.97577 1.7301 12.0086C1.7301 14.0414 2.33245 16.0286 3.46108 17.7193C4.58971 19.41 6.19401 20.7284 8.07139 21.5079C9.94878 22.2875 12.0151 22.4932 14.0093 22.0992C16.0036 21.7053 17.8364 20.7292 19.2763 19.2943C20.2352 18.3387 20.996 17.2032 21.5151 15.953C22.0343 14.7027 22.3015 13.3623 22.3015 12.0086C22.3015 10.6548 22.0343 9.3144 21.5151 8.06415C20.996 6.81391 20.2352 5.67844 19.2763 4.72286Z" fill="#2B3F40"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_8201_417">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>

                                  

                        {%- endif -%}
                        
                        <p class="lp-comparison__prop-text lp-text">
                            {{ lpcomparisonPropTwo }} 
                        </p>
                      </div>
                      <div class="lp-comparison__prop">
                        {%- if lpcomparisonPropThreeCheckbox == true -%}
                           
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_8201_439)">
                            <path d="M12 0C5.38293 0 0 5.38293 0 12C0 18.6171 5.38293 24 12 24C18.6171 24 24 18.6171 24 12C24 5.38293 18.6171 0 12 0Z" fill="#DF6835"/>
                            <path d="M18.0823 9.45728L11.5822 15.9572C11.3872 16.1522 11.1312 16.2503 10.8752 16.2503C10.6193 16.2503 10.3633 16.1522 10.1683 15.9572L6.91833 12.7072C6.52722 12.3163 6.52722 11.6842 6.91833 11.2933C7.30927 10.9022 7.94116 10.9022 8.33228 11.2933L10.8752 13.8362L16.6683 8.04333C17.0593 7.65222 17.6912 7.65222 18.0823 8.04333C18.4732 8.43427 18.4732 9.06616 18.0823 9.45728Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_8201_439">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>

                            {%- else -%}
                            
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_8201_417)">
                            <path d="M16.2848 8.96572L13.2077 12L16.2848 15.0343C16.3705 15.1145 16.4387 15.2114 16.4854 15.319C16.5321 15.4266 16.5562 15.5427 16.5562 15.66C16.5562 15.7773 16.5321 15.8934 16.4854 16.001C16.4387 16.1086 16.3705 16.2055 16.2848 16.2857C16.2047 16.3652 16.1098 16.428 16.0053 16.4707C15.9009 16.5133 15.7891 16.5349 15.6763 16.5343C15.4514 16.5333 15.2359 16.4441 15.0763 16.2857L11.9991 13.2086L8.96484 16.2857C8.80519 16.4441 8.58971 16.5333 8.36485 16.5343C8.25204 16.5349 8.14021 16.5133 8.03578 16.4707C7.93135 16.428 7.83637 16.3652 7.75627 16.2857C7.59663 16.1251 7.50702 15.9079 7.50702 15.6814C7.50702 15.455 7.59663 15.2377 7.75627 15.0771L10.7906 12L7.75627 8.96572C7.61585 8.80174 7.54247 8.59082 7.55081 8.3751C7.55914 8.15938 7.64857 7.95474 7.80122 7.80209C7.95387 7.64944 8.15851 7.56001 8.37423 7.55168C8.58995 7.54335 8.80087 7.61672 8.96484 7.75714L11.9991 10.7914L15.0334 7.75714C15.1128 7.67497 15.2075 7.60924 15.3123 7.56369C15.4171 7.51815 15.5298 7.49368 15.644 7.49169C15.7582 7.4897 15.8717 7.51023 15.978 7.5521C16.0842 7.59397 16.1812 7.65636 16.2634 7.73572C16.3456 7.81507 16.4113 7.90984 16.4569 8.0146C16.5024 8.11936 16.5269 8.23206 16.5289 8.34628C16.5309 8.46049 16.5103 8.57398 16.4685 8.68027C16.4266 8.78655 16.3642 8.88355 16.2848 8.96572ZM20.4848 20.4857C18.8066 22.1638 16.6684 23.3066 14.3406 23.7695C12.0129 24.2324 9.60015 23.9947 7.40751 23.0864C5.21487 22.1781 3.3408 20.6401 2.02228 18.6667C0.703756 16.6933 0 14.3733 0 12C0 9.62668 0.703756 7.30665 2.02228 5.33329C3.3408 3.35992 5.21487 1.82186 7.40751 0.913568C9.60015 0.00528063 12.0129 -0.232431 14.3406 0.230492C16.6684 0.693416 18.8066 1.83618 20.4848 3.51429C21.5993 4.62861 22.4833 5.95153 23.0864 7.40752C23.6896 8.8635 24 10.424 24 12C24 13.576 23.6896 15.1365 23.0864 16.5925C22.4833 18.0485 21.5993 19.3714 20.4848 20.4857ZM19.2763 4.72286C17.8364 3.28795 16.0036 2.31188 14.0093 1.91789C12.0151 1.52391 9.94878 1.72969 8.07139 2.50923C6.19401 3.28878 4.58971 4.60715 3.46108 6.29785C2.33245 7.98855 1.7301 9.97577 1.7301 12.0086C1.7301 14.0414 2.33245 16.0286 3.46108 17.7193C4.58971 19.41 6.19401 20.7284 8.07139 21.5079C9.94878 22.2875 12.0151 22.4932 14.0093 22.0992C16.0036 21.7053 17.8364 20.7292 19.2763 19.2943C20.2352 18.3387 20.996 17.2032 21.5151 15.953C22.0343 14.7027 22.3015 13.3623 22.3015 12.0086C22.3015 10.6548 22.0343 9.3144 21.5151 8.06415C20.996 6.81391 20.2352 5.67844 19.2763 4.72286Z" fill="#2B3F40"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_8201_417">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>
                            
                                  

                        {%- endif -%}
                        
                        <p class="lp-comparison__prop-text lp-text">
                            {{ lpcomparisonPropThree }} 
                        </p>
                      </div>
                   
                    </div>

              </div>
          {% endfor %}

      </div>

    {% endif %}
  </div>
</section>


{% schema %}
  {
    "name": "Lp Comparison",
    "settings": [
        {
                "type": "text",
                "id": "comparison_title",
                "label": "Section title"
            },
            {
                "type": "text",
                "id": "comparison_text",
                "label": "Section text"
            }
        ],
    
        "blocks": [
      {
        "type": "comparison",
        "name": "comparison",
        "settings": [
            {
          "type": "checkbox",
          "id": "lp_comparison_primary_check",
          "label": "Check for highlited color"
          },
            {
            "label": "Chose Title",
            "id": "lp_comparison_title",
            "type": "text"
          },
          {
            "label": "Chose Image",
            "id": "lp_comparison_img",
            "type": "image_picker"
          },

          {
            "label": "Chose Subitle",
            "id": "lp_comparison_subtitle",
            "type": "text"
          },
          {
          "type": "checkbox",
          "id": "lp_comparison_prop_one_check",
          "label": "Check for ticked icon"
          },
          {
            "label": "Chose Text",
            "id": "lp_comparison_prop_one",
            "type": "textarea"
          },
          {
          "type": "checkbox",
          "id": "lp_comparison_prop_two_check",
          "label": "Check for ticked icon"
          },
          {
            "label": "Chose Text",
            "id": "lp_comparison_prop_two",
            "type": "textarea"
          },
          {
          "type": "checkbox",
          "id": "lp_comparison_prop_three_check",
          "label": "Check for ticked icon"
          },
          {
            "label": "Chose Text",
            "id": "lp_comparison_prop_three",
            "type": "textarea"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Lp Comparison"
      }
    ]
  }
{% endschema %}