{%- style -%}
  .newsletter-{{ section.id }} {
    background-color: {{ section.settings.color_background }};
    color: {{ section.settings.color_text }};
  }

  .newsletter-{{ section.id }} .newsletter__input::-webkit-input-placeholder { color: {{ section.settings.color_text }}; }
  .newsletter-{{ section.id }} .newsletter__input::-moz-placeholder { color: {{ section.settings.color_text }}; }
  .newsletter-{{ section.id }} .newsletter__input::-ms-input-placeholder { color: {{ section.settings.color_text }}; }

  .newsletter-{{ section.id }} .input-group-btn button {
    background:{{ section.settings.button_color }};
    border-color:{{ section.settings.button_color }};
    color:{{ section.settings.button_label_color }};
  }
  .newsletter-{{ section.id }} .input-group-btn button:hover {
    background:{{ section.settings.button_label_color }} !important;
    color:{{ section.settings.button_color }};
  }
{%- endstyle -%}

<div class="newsletter-section newsletter-{{ section.id }}{% if section.settings.color_background == settings.color_body_bg %} newsletter-section--with-divider{% endif %}">
  <div class="page-width text-center">
    <div class="newsletter-wrapper">
  
    {%- for block in section.blocks -%}
      <div class="theme-block" {{ block.shopify_attributes }}>
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'title' -%}
            {%- if block.settings.title != blank -%}
              <p class="h3">{{ block.settings.title | escape }}</p>
            {%- endif -%}
          {%- when 'text' -%}
            {%- if block.settings.text != blank -%}
              <div class="rte">{{ block.settings.text }}</div>
            {%- endif -%}
          {%- when 'form' -%}
            {%- render 'newsletter-form', section_id: section.id, snippet_context: 'section' -%}
          {%- when 'share_buttons' -%}
            {%- render 'social-sharing' -%}
        {%- endcase -%}
      </div>
    {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Email signup",
    "max_blocks": 6,
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "title",
        "name": "Title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "KORTING ALARM!!"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Subheading",
            "default": "<p>wanna know when your favourite coffee goes on sale?Subscribe today and receive all of our <br/> discount codes, speical offers and exciting news directly to your inbox!</p>"
          }
        ]
      },
      {
        "type": "form",
        "name": "Form",
        "limit": 1
      },
      {
        "type": "share_buttons",
        "name": "Share buttons",
        "limit": 1
      }
    ],
    "settings": [
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1)."
      },
      {
        "type": "color",
        "id": "color_background",
        "label": "Background",
        "default": "#f9f9f9"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#1c1d1d"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button Color",
        "default": "#DA642A"
      },
      {
        "type": "color",
        "id": "button_label_color",
        "label": "Button Text Color",
        "default": "#FFF"
      }
    ],
    "presets": [
      {
        "name": "Email signup",
        "blocks": [
          {
            "type": "title"
          },
          {
            "type": "text"
          },
          {
            "type": "form"
          }
        ]
      }
    ]
  }
{% endschema %}
