{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

  <div class="page-width feature-row-wrapper text-with-image-section 
    {% if section.settings.fullwidth %}section-fullwidth{% endif %} 
    image-{{ section.settings.image_size }} {{ section.id }}
    {% if section.settings.top-image %} show-pattern{% endif %}">
    <div class="page-widths">
    {%- capture image_layout -%}
      <div class="feature-row__item feature-row-image" data-aos>
          {%- if section.settings.image != blank -%}
            <div>
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
                  {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="feature-row__image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ section.settings.image.alt }}">
                </div>
            </div>
          {%- endif -%}
          {%- if section.settings.image == blank -%}
            <div>
              <div class="image-wrap">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
          {%- endif -%}
      </div>
    {%- endcapture -%}

    <div class="feature-row">
      
      {%- if section.settings.top-image -%}
        <img class="pattern-image lazyload" src="{{ 'pattern-vertical.png' | asset_url }}" alt="vertical line">
      {%- endif -%}
      
      {%- if section.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}

      <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}" data-aos>
        {%- if section.settings.subtitle != blank -%}
          <div class="subheading appear-delay{% cycle '','-1','-2','-3','-4' %}" style="color: {{ section.settings.text_color }}">{{ section.settings.subtitle }}</div>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <div class="h1 appear-delay{% cycle '','-1','-2','-3','-4' %}" style="color: {{ section.settings.text_color }}">{{ section.settings.title | escape }}</div>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}" style="color: {{ section.settings.text_color }}">{{ section.settings.text }}</div>
        {%- endif -%}
        {%- if section.settings.button_label != blank -%}
          <div class="btn-wrapper btn-arrow-wrapper appear-delay{% cycle '','-1','-2','-3','-4' %}">
            <a href="{{ section.settings.button_link }}" class="btn {% if section.settings.button_style == 'secondary' %} btn--tertiary{% elsif section.settings.button_style == 'custom' %} btn-custom{% endif %}">
              {{ section.settings.button_label }}
            </a>
            {%- if section.settings.btn-arrow -%}
            <img class="img-arrow lazyload" src="{{ 'arrow-vector.png' | asset_url }}">
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>

      {%- if section.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}
    </div>
    </div>
  </div>

{%- if section.settings.divider -%}</div>{%- endif -%}
{% style %}
  .{{ section.id }}.feature-row-wrapper.section-fullwidth {
    background-color: {{ section.settings.bg_color }};
  }
  .{{ section.id }}.feature-row-wrapper:not(.section-fullwidth) .feature-row {
    background-color: {{ section.settings.bg_color }};
  }
  {% if section.settings.image != blank %}
  .{{ section.id }}.feature-row-wrapper .feature-row-image {
    background-image:url('{{ section.settings.image | img_url: 'master' }}');
    background-size: cover;
    background-repeat:no-repeat;
  }
  {% endif %}
  {% if section.settings.button_style == 'custom' %} 
    .feature-row-wrapper.{{ section.id }} .btn-custom {
      background:{{ section.settings.button_color }};
      border-color:{{ section.settings.button_color }};
      color:{{ section.settings.button_label_color }};
    }
    .feature-row-wrapper.{{ section.id }} .btn-custom:hover {
      background:{{ section.settings.button_label_color }} !important;
      color:{{ section.settings.button_color }};
    }
  {% endif %}
{% endstyle %}

{% schema %}
  {
    "name": "Text with image fullwidth",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "default": "large",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Show fullwidth",
        "default": true
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "primary",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "custom",
            "label": "Custom color"
          }
        ]
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button Color",
        "default": "#F0BC1B",
        "info":"It works only on custom button"
      },
      {
        "type": "color",
        "id": "button_label_color",
        "label": "Button Text Color",
        "default": "#FFF",
        "info":"It works only on custom button"
      },
      {
        "type": "checkbox",
        "id": "btn-arrow",
        "label": "Show buttom arrow",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "top-image",
        "label": "Show vertical line",
        "default": false
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Image with text fullwidth"
      }
    ]
  }
{% endschema %}
